
header {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 105px;
  margin: 92px 24px 96px 24px;
  border: 1px solid black;
}
/*Сброс стилей списка*/
ul {
  list-style: none;
}
.menu {
  height: 22px;
  padding: 0;
  display: grid;
  box-sizing: border-box;
  margin: 44px 36px 39px 27px;
}
.menu-item {
  display: grid;
  grid-template-areas: 'a b c';
  gap: 13px;
  place-items: end end;
  
}
.menu-item1 {
  grid-area: a;
  width: 67px;
  place-self: center end;
}
.menu-item2 {
  grid-area: b;
  width:169px;
  place-self: center end;
}
.menu-item3 {
  grid-area: c;
  place-self: center;
  width: 129px;
}

.list-marker {
  list-style-type: circle;
  text-decoration: underline;
}
