header {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: row;
  height: 105px;
  margin: 92px 24px 96px 24px;
}

.header__menu {
  padding: 0 auto;
  box-sizing: border-box;
  display: flex;
  min-width: 392px;
  flex-wrap: nowrap;
  margin: 44px 634px 39px 26px;
}

/*Стили списков меню*/
.header__links-list {
  padding: 0 auto;
  display: flex;
  justify-content: center;
  font-family: Raleway;
  font-weight: regular;
  font-size: 18px;
  list-style: none;
}
/*Стили 1 пунктa меню*/
.header__links-list-item-first {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 21px;
  font-family: Raleway;
  text-decoration: none;
}
/*Стили 2 пунктa меню*/
.header__links-list-item-second {
  padding: 0;
  margin-left: 32px;
  height: 22px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #000;
  letter-spacing: 0.01em;
  font-family: Raleway;
}
/*Стили 3 пунктa меню*/
.header__links-list-item-third {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 22px;
  margin-left: 32px;
  border-bottom: 1px solid #000;
  letter-spacing: 0.01em;
  font-family: Raleway;
}
/*Стиль маркеровки списка меню*/
.list__marker {
  list-style-type: circle;
}
.list-no-underline {
  text-decoration: none;
}
/*Стиль лого хедера*/
.header__logo {
  padding: 0 auto;
  margin-left: 458px;
  width: 136px;
  height: 102%;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  justify-content: end;
}
/*Стиль блока хедера с адресом*/
.header__address {
  padding: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  margin-left: 786px;
  line-height: 24px;
  margin-top: 5px;
  gap: 1px;
  font-style: normal;
  font-family: Raleway;
  font-weight: regular;
  letter-spacing: 0.01em;
  font-size: 18px;
}
/*Стиль подчеркивания номера и почты*/
.underline__address__href {
  text-underline-offset: 0.2em;
}

.header__address__no__letter__spacing {
  letter-spacing: 0;
}
/*Стили входной группы*/
.cover {
  box-sizing: border-box;
  margin-top: 93px;
  min-height: 757px;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
}
/*Позиционирование изображения входной группы*/
.cover__img {
  padding: 0 auto;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}
/*Стиль прозрачности изображений*/
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
}
/*Стиль заголовка блока cover*/
.cover__title {
  padding: 0 auto;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  min-width: 1000px;
  min-height: 355px;
  margin: 165px 50px 237px 51px;
  font-family: Raleway;
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  z-index: 1;
}
/*Стиль первой строки заголовка входной группы*/
.cover-title-first-row {
  padding: 0 auto;
  display: flex;
  position: relative;
  flex-direction: row;
  line-height: 1.15;
  width: 316px;
  justify-content: start;
}
/*Стиль второй строки заголовка входной группы*/
.cover-title-second-row {
  padding: 0 auto;
  margin-left: 286px;
  display: flex;
  position: relative;
  flex-direction: row;
  line-height: 1;
}
/*Стиль третьей строки заголовка входной группы*/
.cover-title-third-row {
  padding: 0 auto;
  justify-content: end;
  display: flex;
  position: relative;
  flex-direction: row;
  line-height: 1;
}
/*Отступы между буквами*/
.aligned-text {
  letter-spacing: 0.3em;
}
/*Kласс для управления межбуквенным расстоянием в местах, где есть эти акценты*/
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
/*Класс для обнуления общего межбуквенного расстояния для последней буквы*/
.no-letter-spacing {
  letter-spacing: 0;
}
/*Стиль описания входной группы*/
.cover__description {
  padding: 0 auto;
  box-sizing: border-box;
  min-width: 637px;
  line-height: 28px;
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin: 667px 385px 62px 78px;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
/*Стили отступов описания*/
.description__spacing-first {
  word-spacing: 19px;
}
.description__spacing-second {
  word-spacing: 17px;
}
.description__spacing-third {
  word-spacing: 18px;
}
/*Стиль кнопки*/
.description__button {
  padding: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  width: 256px;
  height: 51px;
  margin: 655px 50px 51px 794px;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
  background: transparent;
}
/*Стиль текста кнопки*/
.description__button-title {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}
/*Стиль блока ЛОТЫ*/
.lots {
  box-sizing: border-box;
  padding: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1052px;
  height: 692px;
  margin: 179px 24px 0 24px;
}
/*Стиль заголовка блока ЛОТЫ */
.lots-heading {
  padding: 0 auto;
  margin-left: 40px;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
/*Список карточек*/
.lots__card-list {
  padding: 0 auto;
  width: 100%;
  list-style: none;
  display: flex;
  position: relative;
  flex-grow: 1;
  gap: 25px;
}
/*Стиль пунктов списка карточки*/
.lots__card-list-item {
  box-sizing: border-box;
  width: 334px;
  height: 563px;
  padding: 0 auto;
  margin-top: 74px;
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
}
/*Картинка первой карточки*/
.card_type_film {
  padding: 0 auto;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}
/*Картинка второй карточки*/
.card_type_book {
  padding: 0 auto;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}
/*Картинка третьей карточки*/
.card_type_picture {
  padding: 0 auto;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}
/*Стиль карточек*/
.card {
  padding: 0 auto;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: transparent;
}
/*Стиль заголовка карточек*/
.card__title {
  padding: 0 auto;
  box-sizing: border-box;
  width: 254px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 51px 40px 0px;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  text-transform: uppercase;
}
/*Стиль текста карточек*/
.card__text {
  padding: 0 auto;
  box-sizing: border-box;
  width: 254px;
  height: auto;
  display: flex;
  position: relative;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0 40px 48px 40px;
  font-family: Raleway;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #fff;
}
/*Стиль ссылки узнать больше*/
.lots__look-more-link {
  box-sizing: border-box;
  padding: 0 auto;
  margin: 667px 820px;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 40px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}
/*Стиль секции about*/
.about {
  padding: 0 auto;
  box-sizing: border-box;
  width: 1052px;
  min-height: 595px;
  display: grid;
  position: relative;
  margin: 146px 24px 0px;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 595px;
}
/* класс для колонок*/
.about__column {
  padding: 0 auto;
  box-sizing: border-box;
  width: 693px;
  height: 462px;
  display: grid;
  position: relative;
  justify-self: end;
  align-self: end;
  /*margin-bottom: 13px;*/
  align-items: start;
}
/*контейнер с логотипом блока about*/
.about__logo {
  padding: 0 auto;
  box-sizing: border-box;
  width: 240px;
  display: grid;
  height: 240px;
  margin: 35px 0px 0px 47px;
  border-radius: 50%;
  background-color: #000;
  grid-row: 1;
  grid-column: 1/2;
  justify-items: center;
  align-items: center;
}
/*Стиль изображение логотипа блока about*/
.about__logo-image {
  margin: 0 auto;
  padding: 0 auto;
  border: none;
  width: 148px;
  height: 114px;
  background-size: cover;
}
/*Стиль заголовка блока about*/
.about__title {
  padding: 0 auto;
  margin: 3px 0px 0px 0px;
  box-sizing: border-box;
  width: 291px;
  height: 47px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  grid-row: 1;
  grid-column: 1;
}
/*Стиль текста блока about*/
.about__text {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: 312px;
  display: grid;
  align-self: end;
  justify-self: stretch;
  font-family: Raleway;
  font-weight: 400px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  grid-column: 1;
  grid-row: 1;
}
/*Стиль футера*/
footer {
  padding: 0 auto;
  box-sizing: border-box;
  margin: 180px 50px 88px;
  width: 1000px;
  height: 98px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
}
.footer__address {
  padding: 0 auto;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 100%;
  line-height: 24px;
  gap: 1px;
  font-style: normal;
  font-family: Raleway;
  font-weight: regular;
  letter-spacing: 0.01em;
  font-size: 18px;
}
.footer__menu {
  padding: 0 auto;
  margin: 0 0 0 40px;
  box-sizing: border-box;
  height: 64px;
  width: 149px;
  display: flex;
  flex-direction: column;
  position: relative;
  
  
}
.footer__menu-list {
  padding: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  list-style-type: none;
}
.footer__list-item {
  border-bottom: 1px solid #000;
}
.footer__social-list {
  padding: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 240px;
  height: 48px;
}